* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 650px) {
  html {
    font-size: clamp(20px, 2vw, 20px);
  }
}

@media (min-width: 1000px) {
  html {
    font-size: clamp(24px, 2.5vw, 24px);
  }
}

@media (min-width: 1500px) {
  html h1 {
    font-size: clamp(4rem, 3vw, 6rem) !important;
  }
}

body {
  min-width: 390px;
  font-family: lexend peta;
  color: #f5f5f5;
  overflow-x: hidden;
  background: #2e1602;
  background: linear-gradient(
    337deg,
    rgba(46, 22, 2, 1) 0%,
    rgba(15, 11, 8, 1) 29%,
    rgba(10, 2, 2, 1) 100%
  );
}

.header {
  position: relative;
  height: 100dvh;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2424244b;
  backdrop-filter: blur(12px);
  z-index: 5;
  box-sizing: border-box;
  text-transform: uppercase;
}

.navbar a {
  text-decoration: none;
  font-size: 1rem;
  padding: 0.7rem;
  font-weight: 200;
  color: #f5f5f5;
}

a:hover {
  text-decoration: none;
  font-weight: 500;
}

.navbar:hover a:not(:hover) {
  text-decoration: none;
  font-weight: 200;
  color: rgb(168, 158, 143);
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.videoContainer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.textOverlay {
  position: absolute;
  z-index: 5;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  user-select: none;
  width: 75%;
}

.textOverlay h1 {
  font-family: Great vibes;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 5px;
  color: #f5f5f5;
}

.textOverlay h4 {
  font-size: 1rem;
  font-weight: 100;
  color: #f5f5f5;
}

.secOne {
  position: relative;
  width: 100%;
}

.about {
  width: 90%;
  flex-wrap: wrap;
  margin: 7% 7% 7% 0%;
  padding: 3%;
  border-radius: 0px 8px 8px 0px;
  background-color: #2424244b;
  backdrop-filter: blur(12px);
  box-sizing: border-box;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.about h2 {
  font-size: 2rem;
}

.about p {
  font-size: 1rem;
  font-weight: 200;
}

.secTwo {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 2%;
  align-items: center;
  background-image: url(/img/restaurant3.jpg);
  background-blend-mode: multiply;
  background-color: rgb(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.speisekarte button {
  padding: 0.5rem;
  font-family: lexend peta;
  font-size: 1rem;
  font-weight: 800;
  background: none;
  border: none;
  user-select: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.speisekarte button img {
  width: 8rem;
  height: auto;
}

button:hover {
  scale: calc(1.2);
  transform: rotate(360deg);
}

button:hover::after {
  content: "Speisekarte";
  position: absolute;
  font-family: Great vibes;
  font-size: 2rem;
  letter-spacing: 5px;
  bottom: 0;
  left: 0;
  color: #f5f5f5;
  width: 100%;
  height: 100px;
}

.table {
  display: inline-block;
  background: #2424244b;
  backdrop-filter: blur(12px);
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.table h2 {
  font-size: 1.5rem;
  padding: 1rem;
}

.table td {
  font-size: 1rem;
  font-weight: 200;
  padding: 0.5rem;
}

tr:hover {
  scale: calc(1.15);
}

.secThree {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  width: 90%;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 3%;
  margin-left: auto;
  margin-top: 7%;
  margin-bottom: 7%;
  background-color: #2424244b;
  backdrop-filter: blur(12px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.kontakt {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

.maps {
  overflow: auto;
}

.secThree iframe {
  border-radius: 8px;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  z-index: 5;
  box-sizing: border-box;
  overflow-x: hidden;
}

.footer a {
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem;
  color: #f5f5f5;
  text-decoration: none;
}

.footer p {
  margin: 0.75rem;
  font-weight: 100;
  font-size: 0.75rem;
}

.footerLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footerLinks:hover a:not(:hover) {
  text-decoration: none;
  font-weight: 200;
  color: rgb(168, 158, 143);
}

.datenschutz {
  width: 90%;
  height: 80vh;
  flex-wrap: wrap;
  margin: 6% 6% 6% 0%;
  padding: 3%;
  border-radius: 0px 8px 8px 0px;
  background-color: #2424244b;
  backdrop-filter: blur(12px);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.datenschutz h2 {
  font-size: 2rem;
}

.datenschutz p {
  font-size: 1rem;
  font-weight: 200;
}

.impressum {
  width: 90%;
  height: 80vh;
  flex-wrap: wrap;
  margin: 6% 6% 6% 0%;
  padding: 3%;
  border-radius: 0px 8px 8px 0px;
  background-color: #2424244b;
  backdrop-filter: blur(12px);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.impressum h2 {
  font-size: 2rem;
}

.impressum p {
  font-size: 1rem;
  font-weight: 200;
}
