* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #d6b798;
  min-width: 375px;
  font-family: lexend peta;
  color: antiquewhite;
}

a {
  text-decoration: none;
  font-size: clamp(0.5rem, 3vw, 1.5rem);
  font-weight: 200;
  padding: clamp(1rem, 5vw, 2rem);
  color: antiquewhite;
}

a:hover {
  text-decoration: none;
  font-weight: 500;
}

.navbar:hover a:not(:hover) {
  text-decoration: none;
  font-weight: 200;
  color: rgb(168, 158, 143);
}

h1 {
  font-family: Great vibes;
  font-size: clamp(3rem, 13vw, 8rem);
  font-weight: 400;
  letter-spacing: 8px;
}

h2 {
  font-size: clamp(1.5rem, 7vw, 2.5rem);
  font-weight: 400;
  padding-bottom: 2rem;
}

h4 {
  font-size: clamp(0.5rem, 3vw, 1rem);
  font-weight: 200;
  text-align: center;
  letter-spacing: 10px;
}

.header {
  position: relative;
  height: 100vh;
}

.textOverlay {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  user-select: none;
  z-index: 5;
}

.textOverlay h4 {
  justify-content: space-evenly;
}

.navbar {
  top: 0px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 5;
  background-color: rgba(250, 235, 215, 0.15);
  backdrop-filter: blur(8px);
  box-sizing: border-box;
}

.videoContainer video {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.filler {
  position: relative;
  height: 8rem;
  background: #d6b798;
}

.firstSec {
  position: relative;
  display: flex;
  background-image: url(/img/restaurant3.jpg);
  background-size: cover;
  background-position: center;
  background-color: #330500;
}

.about {
  display: inline-block;
  flex-wrap: wrap;
  padding: 10% 0% 10% 10%;
}

.about p {
  padding: 2rem;
  background: rgba(83, 78, 71, 0.411);
  backdrop-filter: blur(16px);
  border-radius: 8px 0px 0px 8px;
  font-weight: 200;
}

.nennillo {
  font-size: clamp(1.5rem, 7vw, 2.5rem);
  font-weight: 400;
  padding-bottom: 2rem;
}

.secondSec {
  background-color: #d6b798;
  position: relative;
  display: flex;
  padding: 8% 8% 8% 0%;
  color: #414341;
}

.table {
  flex-wrap: wrap;
  border-collapse: collapse;
  background: rgba(83, 78, 71, 0.411);
  backdrop-filter: blur(16px);
  border-radius: 0px 8px 8px 0px;
  font-weight: 300;
  box-shadow: 10px 0px 24px #4143412c;
}

.table h2 {
  font-size: clamp(1rem, 5vw, 2rem);
  text-align: center;
  padding: 2rem;
}

.table td {
  font-size: clamp(0.5rem, 7vw, 0.9rem);
  padding-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.thirdSec {
  background-color: aqua;
  position: relative;
  width: 100%;
  padding: 5% 5% 5% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

iframe {
  display: none;
}

.forthSec {
  position: relative;
  display: flex;
  background-color: rgb(0, 131, 17);
  margin-top: 10%;
  overflow-x: hidden;
}

.location {
  font-size: clamp(0.5rem, 5vw, 1rem);
  display: flex;
  flex-wrap: wrap;
}
