* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: darkgrey;
  min-width: 375px;
  font-family: lexend peta;
  color: antiquewhite;
}

a {
  text-decoration: none;
  font-size: clamp(0.75rem, 3vw, 1.5rem);
  font-weight: 200;
  padding: clamp(0.75rem, 3vw, 1rem);
  color: antiquewhite;
}

a:hover {
 text-decoration: none;
  font-weight: 500;
}

.navbar:hover a:not(:hover) {
  text-decoration: none;
  font-weight: 200;
  color: rgb(168, 158, 143);
}

h1 {
  font-family: Great vibes;
  font-size: clamp(2.5rem, 15vw, 6.5rem);
  font-weight: 400;
  letter-spacing: 10px;
}

h4 {
  font-size: clamp(0.5rem, 3vw, 1rem);
  font-weight: 200;
  text-align: center;
  letter-spacing: 10px;
}

.header {
  position: relative;
  height: 100vh;
}

.textOverlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  user-select: none;
  z-index: 5;
}

.navbar {
  top: 0px;
  width: 100%;
  padding: clamp(0.5rem, 3vw, 1rem);
  gap: clamp(0.5rem, 3vw, 2rem);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 5;
  background-color: rgba(250, 235, 215, 0.144);
  box-sizing: border-box;
}

.videoContainer video {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.firstSec {
  position: relative;
  display: flex;
  background-color: darkgrey;
  margin-top: 10%;
}

.about {
  background-color: darkgrey;
  font-size: clamp(0.5rem, 5vw, 1rem);
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
}

.secondSec {
  background-color: darkgrey;
  position: relative;
  margin-top: 5px;
  width: 100%;
}

.tabelle {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

th,
td {
  padding: 1rem;
}


.thirdSec {
  background-color: rgb(119, 0, 255);
  width: 100%;
}

iframe {
  width: 100%;
  height: 100dvh;
  border: none;
}

.forthSec {
  position: relative;
  display: flex;
  background-color: rgb(0, 131, 17);
  margin-top: 10%;
  overflow-x: hidden;
}

.location {
  font-size: clamp(0.5rem, 5vw, 1rem);
  display: flex;
  flex-wrap: wrap;

  
}

/*/
.videoContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgb(61, 20, 3));
}
